body {
  background: radial-gradient(
    905px at 4.9% 85.8%,
    rgb(255, 243, 242) 0.1%,
    rgb(255, 247, 220) 57.6%
  );
}

.main {
  border: 1px dashed #291d08;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 500px;
  height: 600px;
  background: #fdffcd;
}

.city-name,
.forcast-heading {
  font-family: "Roboto Slab", serif;
}

.forcast-heading {
  text-align: center;
}

.city-name,
.day,
.time,
.emoji,
#temp,
.units {
  margin-left: 20px;
}
.emoji {
  font-size: 40px;
}

.day,
.time {
  font-family: "Josefin Sans", sans-serif;
}

.search-control,
.search-button,
.current-loc {
  margin-top: 15px;
}

.search-control {
  border-radius: 30px;
  border: 1px solid black;
  width: 240px;
  height: 40px;
  text-align: left;
  background-color: #fbfcd8;
}

.search-button {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 25px;
  border-radius: 100px;
  border: 1px solid rgb(95, 92, 92);
  background-color: #fbfcd8;
}

.search-button:hover {
  transition: 300ms;
  border-color: transparent;
  background-color: transparent;
}

.current-loc {
  border-radius: 30px;
  border: 1px solid rgb(95, 92, 92);
  background-color: #fbfcd8;
  font-family: "Abel", sans-serif;
  font-size: 14px;
  margin-left: 3px;
  width: 130px;
  height: 40px;
}

.current-loc:hover {
  transition: 300ms;
  border-color: transparent;
  background-color: transparent;
}


#info {
  font-family: "Rokkitt", serif;
  font-size: 18px;
}

li {
  list-style-type: none;
}

.icon-1,
.icon-2,
.icon-3,
.forcast-day {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
}

.weather {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

#C-units,
#F-units {
  text-decoration: none;
  color: black;
  margin-left: 0px;
}
