body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/090/053/original/7681908.jpg?1689441495");
  background-size: 100%;
}

.main {
  border: 1px dashed #291d08;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 500px;
  height: 700px;
  background-color: #fdf7c3;
}

.container-3 {
  border: 1px dashed #291d08;
  border-radius: 5px;
  background-color: #d2e9e9;
  margin: 30px;
  padding: 23px;
}

.city-name,
.forcast-heading {
  font-family: "Roboto Slab", serif;
}

.forcast-heading {
  text-align: center;
}

.city-name,
.day,
.time,
.emoji,
#temp,
.units {
  margin-left: 30px;
}
.emoji {
  font-size: 40px;
}

.day,
.time {
  font-family: "Josefin Sans", sans-serif;
}

.search-control,
.search-button,
.current-loc {
  margin-top: 15px;
}

.search-control {
  border-radius: 30px;
  border: 1px solid black;
  width: 240px;
  height: 40px;
  text-align: left;
  background-color: #d2e9e9;
  font-family: "Abel", sans-serif;
  font-size: 14px;
}

.search-button {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 25px;
  border-radius: 100px;
  border: 1px solid rgb(95, 92, 92);
  background-color: #d2e9e9;
}

.search-button:hover {
  transition: 300ms;
  border-color: transparent;
  background-color: transparent;
}

.current-loc {
  border-radius: 30px;
  border: 1px solid rgb(95, 92, 92);
  background-color: #d2e9e9;
  font-family: "Abel", sans-serif;
  font-size: 14px;
  margin-left: 3px;
  width: 130px;
  height: 40px;
}

.current-loc:hover {
  transition: 300ms;
  border-color: transparent;
  background-color: transparent;
}

#info {
  font-family: "Rokkitt", serif;
  font-size: 18px;
}

li {
  list-style-type: none;
}

.icon-1,
.icon-2,
.icon-3,
.forcast-day {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
}

.weather {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

#C-units,
#F-units {
  text-decoration: none;
  color: black;
  margin-left: 0px;
}

#description {
  font-family: "Rokkitt", serif;
  font-size: 18px;
  margin-left: 20px;
}

#forcast-icon {
  width: 40px;
  height: 40px;
}

.forcast-date {
  font-size: 15px;
}

.forcast,
#temp-max,
#temp-min {
  font-size: 15px;
}

#description,
#date {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  margin-left: 35px;
}

#temp1 {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}

.forecast-2 {
  text-align: center;
  font-family: "Cantarell", sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  color: black;
}
